html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
}
#root {
  height: 100%;
}

/* CSS for icons used in the page */
.icons {
  color: #fff;
  padding: 0 15px;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  transition: all 0.2s;
}

.icons:hover {
  transform: scale(1.2);
  transition: all 0.2s;
  color: #bbb;
}

.icons:active {
  color: #000;
}

/*CSS for track-name display*/
#track-name {
  width: auto;
  height: auto;
  background: aliceblue;
  border-radius: 15px;
  text-align: center;
  opacity: 0.75;
  font-size: 2em;
  align-self: flex-end;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 56%;
}

.display-track {
  display: flex;
  width: 100vw;
  justify-content: center;
}

th {
  text-align: center;
}

.table th,
.table td {
  border-top: none !important;
  border-left: none !important;
}

.table-hover {
  animation: fadeIn;
  animation-duration: 1s;
  text-align: center;
}

.top-bar {
  display: flex;
  align-self: flex-start;
  width: 100vw;
  justify-content: flex-end;
  flex-direction: column;
}

.top-buttons {
  display: flex;
  justify-content: space-between;
}

.top-right {
  display: flex;
}

.opening,
.ending,
.ost,
.favourites {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*CSS for bottom-bar and its elements*/
.bottom-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

#player {
  width: 100%;
  border-radius: 15px;
  opacity: 0.5;
  transition: all 0.5s;
  transform: translateY(100%) translateY(-15px);
}

#playTime {
  font-size: medium;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.55);
  color: #eee;
  text-align: center;
  margin: 0 auto -20px;
  opacity: 0;
  width: 150px;
}

#player-wrapper {
  display: flex;
  justify-content: center;
  transform: translateY(-60px);
  top: 27px;
  position: absolute;
  width: 100%;
}

#player:hover {
  opacity: 1;
  transform: translateY(18px);
}

#player:hover #playTime {
  opacity: 1;
}

/*Playlist*/
.track-list {
  width: 200px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  color: #eee;
  z-index: 1;
  position: absolute;
  overflow-x: hidden;
  transform: translateX(-200px);
  transition: transform 0.5s ease;
}

.sticky-bar {
  top: 0px;
  position: sticky;
}

.song-search {
  width: 100vw;
}

.track-list::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

.track-list::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.3);
}

.track-list::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 60px;
}

.track-list ul {
  padding: 0;
}

.track-list ul li {
  cursor: pointer;
  list-style-type: none;
  padding: 10px;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.track-list ul li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.track-list-img {
  margin-right: auto;
}

.open-track-list {
  transform: translateX(0);
}

.close-track-list {
  display: flex;
  justify-content: center;
}

.close-track-list button {
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

/* Play/Pause Button */
#pButton {
  border: none;
  float: left;
  margin: auto;
  background: transparent;
  width: 100%;
  height: 100%;
}

#pButton i {
  display: none;
}

#pButton .loader {
  margin: 0 auto;
}

#timeline {
  width: 100%;
  height: 10px;
  background: rgba(0, 0, 0, 0.3);
  margin-top: 15px;
  display: flex;
}

/*Grabable Playhead*/
#playhead {
  cursor: pointer;
  width: 2px;
  height: 15px;
  margin-top: -15px;
  background: red;
  transition: all 0.5s;
}

#playedBar {
  cursor: pointer;
  height: 14px;
  margin-top: -4px;
  background: red;
  transition: all 0.5s;
}

#buffered-bar {
  height: 10px;
  flex-basis: 0%;
  background-color: rgba(255, 255, 255, 0.4);
  transition: all 0.3s;
}

.botton-right,
.bottom-left {
  display: flex;
}

/* Checkbox css */
.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 4px 6px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==')
    no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC')
    no-repeat 10px center #2ecc71;
}
.toggle-btn.active .round-btn {
  left: 45px;
}
.toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
/* Checkbox CSS end */

.screenReader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn {
  border: none;
  background-color: transparent;
  background-size: contain;
  height: 48px;
  margin: 3px 5px;
  transition: transform 0.2s;
  width: 48px;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
}
.table {
  border: none;
  border-collapse: collapse;
}
.table thead {
  background: #000;
  color: #fff;
}
.table tr {
  white-space: nowrap;
}
.table td,
.table th {
  padding: 3px 6px;
}
.github-container {
  display: flex;
  margin-top: 10px;
}
.icon::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1em;
  margin-bottom: -5px;
  margin-right: 0.25em;
  width: 1em;
}
.icon.iconVolumeUp::before {
  background-image: url('/img/volume_up.svg');
}
.icon.iconVolumeDown::before {
  background-image: url('/img/volume_down.svg');
}
.icon.iconFastforward::before {
  background-image: url('/img/fastforward.svg');
}
.icon.iconRewind::before {
  background-image: url('/img/rewind.svg');
}
.timelineWrap {
  flex: 1;
  display: 'flex';
  align-items: 'center';
}
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 2em;
  width: 100%;
  overflow: hidden;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-ms-track {
  background: transparent;
  border-width: 16px 0;
}
input[type='range']::-webkit-slider-thumb {
  height: 0em;
  width: 0em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: -1000px 0 0 1000px red;
}
input[type='range']::-moz-range-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  border-radius: 2.6px;
}
input[type='range']::-ms-fill-upper {
  border-radius: 2.6px;
}
input[type='range']::-ms-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
