.App {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 100vw;
    min-height: 100%;
    flex-wrap: wrap;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }