html,
body {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow: hidden;
}
#root {
  height: 100%;
}

.play {
  background: url('/img/play.png');
}
.pause {
  background: url('/img/pause.png');
}
.back {
  background-image: url('/img/previous-button.png');
}
.next {
  background-image: url('/img/next-button.png');
}
.restart {
  background-image: url('/img/restart.png');
}
.goFullscreen {
  background-image: url('/img/go-fullscreen.png');
}
.cancelFullscreen {
  background-image: url('/img/cancel-fullscreen.png');
}
/*CSS for track-name display*/
#track-name {
  width: auto;
  height: auto;
  background: aliceblue;
  border-radius: 15px;
  text-align: center;
  opacity: 0.75;
  font-size: 2em;
  align-self: flex-end;
  padding: 2px 10px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 56%;
}

.display-track {
  display: flex;
  width: 100vw;
  justify-content: center;
}

th {
  text-align: center;
}

.table th,
.table td {
  border-top: none !important;
  border-left: none !important;
}

.table-hover {
  animation: fadeIn;
  animation-duration: 1s;
  text-align: center;
}

.top-bar {
  display: flex;
  align-self: flex-start;
  width: 100vw;
  justify-content: flex-end;
}

.opening,
.ending,
.ost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*CSS for bottom-bar and its elements*/
.bottom-bar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  bottom: 0px;
}

#player {
  display: flex;
  align-items: center;
  width: 480px;
  height: 60px;
  background: rgba(77, 133, 222, 0.62);
  border-radius: 15px;
  opacity: 0.5;
  padding: 0 10px;
  transition: all 0.5s;
  transform: translateY(100%) translateY(-10px);
}

#wrapper {
  display: flex;
  justify-content: center;
  height: 75px;
  overflow: hidden;
  transform: translateY(10px);
}

#player:hover {
  opacity: 1;
  transform: translateY(10px);
}

/* Play/Pause Button */
#pButton {
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  padding: 0;
  width: 30px;
}

.botton-right,
.bottom-left {
  display: flex;
}

/* Checkbox css */
.toggle-btn {
  width: 80px;
  height: 40px;
  margin: 4px 6px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAyklEQVQ4T42TaxHCQAyENw5wAhLACVUAUkABOCkSwEkdhNmbpHNckzv689L98toIAKjqGcAFwElEFr5ln6ruAMwA7iLyFBM/TPDuQSrxwf6fCKBoX2UMIYGYkg8BLOnVg2RiAEexGaQQq4w9e9klcxGLLAUwgDAcihlYAR1IvZA1sz/+AAaQjXhTQQVoe2Yo3E7UQiT2ijeQdojRtClOfVKvMVyVpU594kZK9zzySWTlcNqZY9tjCsUds00+A57z1e35xzlzJjee8xf0HYp+cOZQUQAAAABJRU5ErkJggg==')
    no-repeat 50px center #e74c3c;
  cursor: pointer;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
  cursor: pointer;
}
.toggle-btn.active {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAmUlEQVQ4T6WT0RWDMAhFeZs4ipu0mawZpaO4yevBc6hUIWLNd+4NeQDk5sE/PMkZwFvZywKSTxF5iUgH0C4JHGyF97IggFVSqyCFga0CvQSg70Mdwd8QSSr4sGBMcgavAgdvwQCtApvA2uKr1x7Pu++06ItrF5LXPB/CP4M0kKTwYRIDyRAOR9lJTuF0F0hOAJbKopVHOZN9ACS0UgowIx8ZAAAAAElFTkSuQmCC')
    no-repeat 10px center #2ecc71;
}
.toggle-btn.active .round-btn {
  left: 45px;
}
.toggle-btn .round-btn {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.toggle-btn .cb-value {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
}
/* Checkbox CSS end */

.screenReader {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.btn {
  border: none;
  background-color: transparent;
  background-size: contain;
  height: 48px;
  margin: 3px 5px;
  transition: transform 0.2s;
  width: 48px;
}
.btn:hover,
.btn:focus {
  transform: scale(1.1);
}
.table {
  border: none;
  border-collapse: collapse;
}
.table thead {
  background: #000;
  color: #fff;
}
.table tr {
  white-space: nowrap;
}
.table td,
.table th {
  padding: 3px 6px;
}
.github-container {
  display: flex;
  margin-top: 10px;
}
.icon::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
  display: inline-block;
  height: 1em;
  margin-bottom: -5px;
  margin-right: 0.25em;
  width: 1em;
}
.icon.iconVolumeUp::before {
  background-image: url('/img/volume_up.svg');
}
.icon.iconVolumeDown::before {
  background-image: url('/img/volume_down.svg');
}
.icon.iconFastforward::before {
  background-image: url('/img/fastforward.svg');
}
.icon.iconRewind::before {
  background-image: url('/img/rewind.svg');
}
.timelineWrap {
  flex: 1;
  display: 'flex';
  align-items: 'center';
}
input[type='range'] {
  -webkit-appearance: none;
  background: transparent;
  border-radius: 2em;
  width: 100%;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  border-radius: 5em;
}
input[type='range']::-ms-track {
  background: transparent;
  border-width: 16px 0;
}
input[type='range']::-webkit-slider-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']::-moz-range-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower {
  border-radius: 2.6px;
}
input[type='range']::-ms-fill-upper {
  border-radius: 2.6px;
}
input[type='range']::-ms-thumb {
  height: 1.5em;
  width: 1.5em;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}
